@import "./utils/hidden";
@import "./utils/variables";
@import "./base/common";

@import "./components/button";
@import "./components/logo";
@import "./components/social-icon";

@import "./layout/header";
@import "./layout/effective-solutions";
@import "./layout/lorem-ipsum";
@import "./layout/what-we-do";
@import "./layout/our-team";
@import "./layout/section-clients";
@import "./layout/footer";
@import "./layout/modal-window";
@import "./layout/preference";
@import "./layout/products";


