.header {
  border: 1px solid #ececec;
}

.logo-link {
  text-decoration: none;
}

.menu {
  display: none;
}

.header-contacts {
  display: none;
}
.modal-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  transform: translateX(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {transform: translateX(0%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.mobile-menu__close {
  position: absolute;
  top: 21px;
  right: 25px;
  fill: black;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.mobile-menu__open {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.mobile-menu__list{list-style: none;
color: black;
font-size: 40px;
padding-bottom: 36px;
}
.mobile-menu__mail {color: var(--brand-color2);
  font-size: 34px;
list-style: none;
margin-bottom: 32px;}
.mobile-menu__phone {
    font-size: 24px;
  list-style: none;}
  .mobile-menu__mail-link {color: var(--brand-color2);
  text-decoration: none;}
.mobile-menu__phone-link{color: var(--brand-color2);
text-decoration: none;}
.mobile-menu__mail-link:hover,
.mobile-menu__mail-link:focus {color: var(--brand-color)}
.mobile-menu__phone-link:hover,
.mobile-menu__phone-link:focus {color: var(--brand-color)}
.mobile-menu__link:hover,
.mobile-menu__link:focus {color: var(--brand-color)}
.mobile-menu__link {text-decoration: none;
color: black;}
.mobile-menu__ul {padding-left: 0px;}
.mobile-menu__ul-contacts {margin-bottom:64px;
padding-left: 0px;}
.mobile-menu__line {width: 22px; height: 0px;
border-top: 1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);}
.mobile-menu__social-media {display: flex;
list-style: none; align-items: center; margin-top: 64px;
padding-left: 0px;}
.mobile-menu__social-media-list {color: var(--brand-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
cursor: pointer;
letter-spacing: 0.02em;}
.modal-mobile__svg {z-index: 10;}
.modal-mobile__svg:focus,
.modal-mobile__svg:hover {fill: var(--brand-color)}

@media screen and (min-width: 768px) {
  .logo-link {
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 93px;
  }
  .mobile-menu {display: none;}

  .menu {
    list-style: none;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

    &__list {
      position: relative;
    }

    &__list:not(:last-child) {
      margin-right: 46px;
    }

    &__link {
      text-decoration: none;
      color: #212121;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1428571429;
      letter-spacing: 0.02em;

      &:focus,
      &:hover {
        color: var(--brand-color);
      }
    }

    &__link--active::after {
      content: '';
      height: 4px;
      background: var(--brand-color);
      border-radius: 2px;
      margin-top: 30px;
      display: block;
      position: absolute;
      width: 55px;
    }
  }

  .header-contacts {
    list-style: none;
    display: block;
    margin-left: auto;

    &__link {
      text-decoration: none;
      color: #757575;
      align-items: center;
      display: flex;
    }

    &__list:nth-child(1) {
      margin-bottom: 10px;
      margin-right: 30px;
    }

    &__svg {
      fill: #757575;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .header-contacts__list {
    &:focus .header-contacts__link,
    &:hover .header-contacts__link,
    &:hover .header-contacts__svg,
    &:focus .header-contcts__svg {
      color: #2196f3;
      fill: #2196f3;
    }
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    &__list {
      position: relative;
    }

    &__link {
      font-size: 14px;
    }
  }

  .header-contacts {
    display: flex;

    &__list:nth-child(1) {
      margin-right: 30px;
    }

    &__svg {
      fill: #757575;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .header-contacts__list {
    &:focus .header-contacts__link,
    &:hover .header-contacts__link,
    &:hover .header-contacts__svg,
    &:focus .header-contcts__svg {
      color: #2196f3;
      fill: #2196f3;
    }
  }
}
