.lorem-ipsum {
  padding-bottom: 60px;
  padding-top: 60px;

  &__list {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  &__title {
    color: var(--chapter-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    color: var(--brand-color2);
    font-size: 14px;
    line-height: 1.7142857143;
  }
  &__image {
    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  &__svg {
    fill: #757575;
    cursor: pointer;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem-ipsum {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-basis: calc((100% - 30px) / 2);
    }

    &__item {
      width: calc(50% - 15px);
    }
  }
}
@media screen and (min-width: 1200px) {
  .lorem-ipsum {
    padding-bottom: 94px;
    padding-top: 94px;

    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__item:not(:first-child) {
      margin-left: 30px;
    }
  }
}
