.our-team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
}
.our-team__header {
  color: var(--chapter-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.team {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  justify-content: space-between;

  &__figure {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  &__figcaption {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  &__img {
    width: 100%;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
  &__job {
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--brand-color2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }

  &__social-media {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
  &__figure {
    width: calc(50vw - 30px);
  }
}}

@media screen and (min-width: 1200px) {
  .team {
    list-style: none;
    display: flex;
    &__figure {
      width: 270px;
    }
  }
}
