body {font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #ffffff;}
  
    :root {
      --brand-color: #2196f3;
      --brand-background-color: #2f303a;
      --brand-color2: #757575;
      --text-color: #fff;
      --chapter-color: #212121;
    }